.btn
  display inline-block
  padding: .5rem 1rem
  line-height 1.5
  background-color: $accentColor
  border-radius: .25rem
  color: #FFF
  &:hover
    background-color: #167FFF
    text-decoration: none !important